In [54]:
import pandas as pd
import numpy as np
from sklearn import svm
import matplotlib as plt
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.model_selection import train_test_split, cross_val_score, KFold
%matplotlib inline

In [2]:
# List to denote custom field names
fields = ['CRIM','ZN','INDUS','CHAS','NOX','RM','AGE','DIS','RAD','TAX','PTRATIO','B','LSTAT','MEDV']
data = pd.read_csv('housing.csv', names = fields, delim_whitespace = True)
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [23]:
# Divide data by X = Features, y = Labels
X = data.drop(['MEDV','CHAS'],1)
y = data['MEDV']

print('Features shape: ',X.shape)
print('Classes shape: ',y.shape)

Features shape:  (506, 12)
Classes shape:  (506,)

In [59]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = .25, random_state = 3)

print('Train Data shape: ',X_train.shape)
print('Train Classes shape: ',y_train.shape)
print("")
print('Test Data shape: ',X_test.shape)
print('Test Classes shape: ',y_test.shape)
# scaler= MinMaxScaler(feature_range = (0,1))
scaler = StandardScaler()
# Scaled Features to feed to the classifier
X_scaled = scaler.fit_transform(X_train)
Xt_scaled = scaler.transform(X_test)

Train Data shape:  (379, 12)
Train Classes shape:  (379,)

Test Data shape:  (127, 12)
Test Classes shape:  (127,)

In [27]:
# sns.pairplot(data)

In [88]:
clf = svm.SVR(kernel = 'linear')
clf

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='auto',
  kernel='linear', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [89]:
clf.fit(X_scaled,y_train)
print('Cross Val. Score: ', cross_val_score(clf, Xt_scaled, y_test).mean())
print('Model Accuracy Score: ', clf.score(Xt_scaled, y_test))

Cross Val. Score:  0.713162956942
Model Accuracy Score:  0.754332048757

In [90]:
KF = KFold(n_splits = 3)

In [85]:
pred = clf.predict(Xt_scaled[1:5])
print('Prediction: ', pred)
print('\n')
for i in y_test[1:5]:
    print('Original Price: ',i)
print('')
# print('Coeffitients: \n', clf.coef_)

Prediction:  [ 28.07092984  27.00620835  29.04879297  28.87279244]


Original Price:  17.1
Original Price:  17.8
Original Price:  33.1
Original Price:  21.9